body {
    width:100%;
}
.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#section1 {
    width: 30%;
    border: 1px solid red;
    margin: 50px;

}
#section2 {
    width: 70%;
    border: 1px solid grey;
    margin-right: 50px;

}
.section3 {
    display: flex;
    flex-direction: row;
    width: 100%;

}

#box-1 {
    border: solid black;
    width: 75%;
    
}

#box-2 {
    border: solid red;
    width: 50%;
}
#box-3 {
    border: solid green;
    width: 100%;
    
}
 #box-4 {
    border: solid purple;
    width: 75%;
    margin-top: 25%;
    margin-right: 50px;
    margin-left: 75px;

}
#box-5 {
    border: solid pink;
    width: 75%;
    margin-top: 25%;
    margin-right: 50px;
    margin-left: 75px;
}

